* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(images/background-image.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgba(0, 0, 0, 0.616);
  width: 600px;
  min-height: 100px;
  margin: 10px;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 15px 10px;
}
.input-search {
  text-align: center;
}
.input-search input {
  width: 350px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.input-search button {
  padding: 10px;
  font-size: 15px;
  border-radius: 10%;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}
.output {
  color: white;
  padding: 30px 50px;
}
.tempertaure,
.city {
  text-align: center;
}
.output div {
  margin: 20px 0;
  font-size: 20px;
}
.output span {
  font-size: 16px;
}
.output img {
  width: 20px;
}
.output .row {
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .input-search input{
    width: 200px;
  }
  
}
